h1{
    background-color: cyan;
    /* text-align: center; */
    width: 50%;
    margin: auto;
}
.sub-title{
    width: 50%;
    margin: auto;
    text-align: justify;
}
body{
    min-height: 100vh;
    background-size: cover;
    margin: auto;
}
.background{
  
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    /* align-items: center; */
    background-color: rgb(228, 215, 180);
    background-clip: padding-box;
   
}
.submit{
    width: 15%;
    background-color: dodgerblue;
    color: white;
}
.reset{
    width: 15%;
}
.Keunggulan{
    width: 50%;
    margin: auto;
    text-align: justify;
}
.input-group-text{
    width: 5%;
}
.a{
    
    margin: left;
}
.b{
    
    margin: auto;
    text-align: justify;
}
.c{

    margin: auto;
    text-align: justify;
}
.hasill{
    width: 50%;
    margin: auto;
    margin-top: auto;
    text-align: justify;
    text-align: center;
    background-color: rgb(228, 215, 180);
}
.dl{
    width: 25%;
    margin: auto;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}
.ppk{
    width: 50%;
    margin: auto;
    text-align: justify;
}
